body{
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
img{
    height: 100px;
    width:100px;
}
/* i used this code to get used to the types of animations and what they do
img:hover{
    height: 100px;
    width:100px;
    transform: translateY(310px);
    transform: scale(3,3)
    transform: rotate(80deg) -> rotateY(90deg) -> rotate(40deg,20deg) -> rotateZ(30deg)  *we can use combinations between transforms*
   
}
*/
hr{
    width:20%;
}
.wrap{
    margin: 0 auto;
    width: 30%;
    height: 400px; 
    box-sizing: border-box;
}
.circle{
    text-align: center;
    padding: 25px;
    margin: 0 auto;
    width: 2%;
    color:white;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
    transition:  transform 1.5s, background 1s 1s ease-out;
}

.circle:hover{
    background: lightgreen;
    transform:rotate(360deg);
}